<div class="wrapper-proj-req-erb">
  <span class="slider-intro"><%= t('modal-contact-title') %></span>
  <%= render 'projects_form', new_project: @new_project %>
  <span class="powered"><%= t('home.slider.powered_by') %></span>
</div>
