<div class="wrapper-proj-req-erb <%= conditional_proj_red_submit %>">
  <span class="slider-intro"><%= project_form_title %></span>
  <%= render 'projects_form', new_project: @new_project %>
  <span class="powered"><%= t('home.slider.powered_by') %></span>
</div>
