= simple_form_for new_project, html: { class: 'proj_req_form' }  do |f|

  = f.text_field :name,
                 placeholder: I18n.t('simple_form.proj_req.your_last_name'),
                 required: true,
                 class: 'name-form'

  = f.text_field :email,
                 placeholder: I18n.t('simple_form.proj_req.your_email'),
                 required: true,
                 class: 'email-form'

  = f.text_area :description,
                placeholder: project_text_area_placeholder,
                class: 'text-form'

  = f.button :submit, I18n.t('simple_form.proj_req.project_submit')
