$base-size: 16px;
$base-height: 1.4;

// Bootsrap override

$red:               #EE5F5B;
$blue:              #469AE0;
$yellow:            #FDB631;
$orange:            #E67E22;
$green:             #32B796;
$gray:              #000000;

// custom
$branding:          #3F51B5;
$secondary:         #FF1744;
$dark:              #333;
$grey:              #6d6d6d;
$light-grey:        #eaeaea;
$light-bg:          #f7f8fb;
$very-light-grey:   #f9f9f9;
$border:            #f1f1f1;

$screen-md:         768px;
$screen-lg:         900px;

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.4); }

@mixin border-radius {
  -webkit-border-radius: .2em!important;
  -moz-border-radius: .2em!important;
  -ms-border-radius: .2em!important;
  border-radius: .2em!important;
}

@mixin flexbox {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexwrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flexdirection-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin alignitems-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

@mixin alignitems-center {
  -webkit-align-items: center;
  align-items: center;
}

@mixin alignitems-left {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

@mixin justifycontent-center {
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin justifycontent-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin justifycontent-spacebetween {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
