#wrapper-banner
  = link_to t('general.get_in_touch'), new_project_request_path(@travel_new_project), class: 'grow desktop-show', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'
