<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New project from: <%= @new_project.name %></h1>
    <body>
      <h2><%= @new_project.name %></h2>
      <h3><%= @new_project.email %></h3>
      <table>
        <tr>
          <td>
            <%= @new_project.description %>
          </td>
        </tr>
      </table>
    </body>
  </body>
</html>
