h1= 'Our process, your product'
h5= 'Lean does not mean cheap'
h5= 'Taking your resources and maximizing them to their fullest potential.'
h5= 'The best way to perform product validation includes asking customers questions about your product.'
h5= 'Instead of developing the application, and then waiting to hire a sales team to sell the application, focus on selling the product itself while the product is in development.'

h5= 'This means focusing on generating sales while the product is being development because in reality, no product will ever be perfectly developed. This by all means does not meant to sell a product without making it your best. Many developers look for perfection in their work. Perfection, especially for businesses is inevitable, and, perfection does not necessarily mean a sellable product.'

h4= 'Process'
p= '1. Understand the problem'
p= '2. Define the solution'
p= '3. Validate qualitatively'
p= '4. Verify quantitatively'
