.grow
    transition: all .2s ease-in-out

.grow:hover
    transform: scale(1.005)

.hidden
    display: none!important

.show
    display: block!important

.container-side-pad
    padding: 0 3em

.mobile-show
    @media (max-width: $screen-md)
        display: block
    @media (min-width: $screen-md)
        display: none!important

.desktop-show
    @media (min-width: $screen-md)
        display: block
    @media (max-width: $screen-md)
        display: none!important
