.grow
    transition: all .2s ease-in-out

.grow:hover
    transform: scale(1.005)

=border-radius
    -webkit-border-radius: 0.2em !important
    -moz-border-radius: 0.2em !important
    -ms-border-radius: 0.2em !important
    border-radius: 0.2em !important

=flexbox
    -js-display: flex
    display: -webkit-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex

=flexwrap
    -webkit-flex-wrap: wrap
    flex-wrap: wrap

=flexdirection-column
    -webkit-flex-direction: column
    flex-direction: column

=alignitems-start
    -webkit-align-items: flex-start
    align-items: flex-start

=alignitems-center
    -webkit-align-items: center
    align-items: center

=alignitems-left
    -webkit-align-items: flex-start
    align-items: flex-start

=justifycontent-center
    -webkit-justify-content: center
    justify-content: center

=justifycontent-spacebetween
    -webkit-justify-content: space-between
    justify-content: space-between
