.rhy-bg

.banner-rhythm-bg
    .wrap-items
        +flexbox
        +flexdirection-column

        .intro
            position: relative
            max-width: 535px

            h1
                font-size: 2.5em
                font-weight: 900

            span
                color: lighten($rhythm-dark, 40%)

        .action
            margin-top: 5%

