.rhy-value-prop-container
    width: 100%
    +flexbox
    +alignitems-center
    +justifycontent-center

    .props-wrap
        height: 800px
        width: 600px

        .prop-box
            height: 230px
            +flexbox
            +alignitems-center
            +justifycontent-center
            text-align: center

            img
                height: 90px

            p
                color: lighten($rhythm-dark, 40%)

        .prop-left
            float: left
            width: 50%

        .prop-right
            float: right
            width: 50%

        .prop1

        .prop2

        .prop3
