.main-btn
    padding: .5em 1em
    background: $branding
    color: #fff
    +border-radius
    transition: all 0.3s ease 0s
    white-space: nowrap

    &:hover, &:focus, &:active
        background: darken($branding, 15%)

.basic-offer-btn
    padding: 1em 1.3em
    background: $green
    color: #fff
    letter-spacing: .04em
    font-size: 1.1em
    +border-radius
    transition: all 0.3s ease 0s
    white-space: nowrap

    &:hover, &:focus, &:active
        background: darken($secondary, 15%)
        color: #fff

.premium-offer-btn
    padding: 1em 1.3em
    background: $green
    color: #fff
    letter-spacing: .04em
    font-size: 1.1em
    +border-radius
    transition: all 0.3s ease 0s
    white-space: nowrap

    &:hover, &:focus, &:active
        background: darken($branding, 15%)
        color: #fff

.contact-btn
    padding: .5em 0
    background: #fff
    border-bottom: 3px solid $dark
    color: $dark
    font-weight: 700
    font-size: 1.1em
    transition: all 0.3s ease 0s
    white-space: nowrap

    &:hover, &:focus, &:active, &:selected, &:visited
        color: lighten($dark, 35%)
        border-bottom: 3px solid lighten($dark, 35%)

.modal-form-btn
    height: 50px!important
    background: $branding!important
    border: 1px solid $branding!important
    color: #fff
    font-weight: 400
    font-size: 1.1em
    transition: all 0.3s ease 0s
    white-space: nowrap

    &:hover, &:focus, &:active, &:selected, &:visited
        background: darken($branding, 30)!important
        border: 1px solid darken($branding, 30)!important
        color: white!important

.modal-form-btn:hover
    background: darken($branding, 30)!important
    border: 1px solid darken($branding, 30)!important
    color: white!important



