.main-btn
    padding: .5em 1em
    background: $branding
    color: #fff
    +border-radius
    transition: all 0.3s ease 0s

    &:hover, &:after, &:active
        background: darken($branding, 15%)

.basic-offer-btn
    padding: 1em 1.3em
    background: $green
    color: #fff
    letter-spacing: .04em
    font-size: 1.1em
    +border-radius
    transition: all 0.3s ease 0s

    &:hover, &:after, &:active
        background: darken($secondary, 15%)

.premium-offer-btn
    padding: 1em 1.3em
    background: $green
    color: #fff
    letter-spacing: .04em
    font-size: 1.1em
    +border-radius
    transition: all 0.3s ease 0s

    &:hover, &:after, &:active
        background: darken($branding, 15%)

.contact-btn
    padding: .6em 1.1em
    background: #fff
    color: $dark
    font-size: 1.1em
    border: 1px solid $dark
    +border-radius
    transition: all 0.3s ease 0s

    &:hover, &:after, &:active
        background: $dark
        color: #fff
