.contact-container
    height: 300px
    +flexbox
    +alignitems-center
    +justifycontent-center
    +flexdirection-column

    @media (max-width: $screen-md)
        height: auto

    .contact-content
        margin: 0 auto
        max-width: 800px

        .cta
            margin: 2.5rem 0
