.contact-container
    height: 200px

    @media (max-width: $screen-md)
        height: auto

    .contact-content
        +flexbox
        +alignitems-center
        +justifycontent-spacearound
        margin: 0 auto
        max-width: 800px

        .left-side

        .right-side
