.contact-container
    height: 300px
    color: $dark
    +flexbox
    +alignitems-center
    +justifycontent-center
    +flexdirection-column

    @media (max-width: $screen-md)
        height: auto
        padding: 3em 0

    .contact-content
        margin: 0 auto
        max-width: 500px

        @media (max-width: $screen-md)
            padding: 0 2em
            width: auto

        .cta
            margin: 2.5rem 0

            a:hover
                color: lighten($dark, 35%)
                border-bottom: 3px solid lighten($dark, 35%)
