.footer-container
    width: 100%
    height: 100px
    color: $grey
    +flexbox
    +flexdirection-column
    +alignitems-center
    +justifycontent-center
    background: #fff

    .footer-content
        font-size: .9em
        position: relative

        img
            width: 40px

        span
            position: absolute
            top: 22px
            left: 35px
            font-size: .9em
            color: $branding
