#wrapper-banner
    +flexbox
    +alignitems-center
    +justifycontent-center
    position: relative

    .banner-cta
        padding: 0 22em 0 0
        width: 950px
        text-align: left

        @media (max-width: $screen-md)
            padding: 0 2em
            width: auto

        h1
            font-size: 3em
            font-weight: 700
            color: $branding

            @media (max-width: $screen-lg)
                font-size: 1.8em

        h5
            font-size: 1.4em
            color: $grey
            font-weight: 300
            line-height: 1.4em

            @media (max-width: $screen-lg)
                font-size: 1.3em
                line-height: 1.3em

        a
            display: inline-block
            color: $secondary
            margin-top: 2rem
            font-size: 1.2em
            border: 2px solid $secondary
            padding: .6em 1em
            +border-radius
            transition: all 0.3s ease 0s
            white-space: nowrap

            @media (max-width: $screen-md)
                font-size: 1em

            &:after
                font-family: FontAwesome
                content: '\f178'
                margin-left: 1rem
                color: $secondary

            &:hover:after
                color: #fff

            &:hover
                color: #fff
                background: darken($secondary, 10%)
                border: 2px solid darken($secondary, 10%)

    video
        position: fixed
        top: 50%
        left: 50%
        z-index: -99
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto
        transform: translate(-50%, -50%)
        opacity: 0.1
        filter: alpha(opacity=10)


    .arrow-down
        bottom: 0
        right: 0
        left: 0
        position: absolute

        @media (max-width: $screen-md)
            display: none

        .arrow-container
            +flexbox
            +justifycontent-end
            width: 950px
            margin: 0 auto

            .arrow
                width: 120px
                height: 120px
                text-align: center
                font-size: 1.3em
                +flexbox
                +justifycontent-end

                &:before
                    +flexbox
                    +justifycontent-center
                    +alignitems-center
                    font-family: FontAwesome
                    content: '\f0d7'
                    color: $grey
                    border-radius: 50%
                    height: 50%
                    width: 50%
                    background: lighten($grey, 80%)
                    -webkit-box-shadow: 0px 7px 36px 6px rgba(0, 0, 0, 0.17)
                    -moz-box-shadow: 0px 7px 36px 6px rgba(0, 0, 0, 0.17)
                    box-shadow: 0px 7px 36px 6px rgba(0, 0, 0, 0.17)

