.mission-container
    height: 650px
    background: $branding
    color: #fff
    text-align: left
    +flexbox
    +flexdirection-column
    +alignitems-center
    +justifycontent-center

    @media (max-width: $screen-md)
        height: auto
        display: block
        padding: 2em

    .top
        width: 60%

        @media (max-width: $screen-md)
            width: 100%

    .bottom
        width: 60%
        padding-bottom: 4em

        @media (max-width: $screen-md)
            width: 100%
            padding-bottom: 0

        p
            font-weight: 300

            @media (max-width: $screen-md)
