.mission-container
    height: 550px
    background: $branding
    color: #fff
    +flexbox
    +justifycontent-center
    +alignitems-center

    .left-side
        width: 30%

        h1
            font-weight: 700
            text-align: center

    .right-side
        width: 70%

        p
            font-weight: 300
            max-width: 70%
