.offer-container
    height: 600px
    +flexbox
    +alignitems-center
    +justifycontent-center
    +flexdirection-column

    @media (max-width: $screen-md)
        height: auto
        display: block

    .packages-container
        +flexbox

        @media (max-width: $screen-md)
            +flexdirection-column

        .package
            width: 400px
            background: #fff

        .pack-1
            .title
            .sub-title
            .description
            .items
                +flexbox
                +flexdirection-column
            .cta

        .pack-2
            .title
            .sub-title
            .description
            .items
                +flexbox
                +flexdirection-column
            .cta
