.value-container
    +flexbox
    +flexwrap

    .left-panel
        width: 35%
        text-align: right
        padding: 0 3em 0 0

        h1
            color: $branding
            font-weight: 700
            font-size: 3em

        .nav-on-value

            h4
                cursor: pointer

    .right-panel
        width: 65%

        .val-box
            background: #fff
            border: 1px solid $light-grey
            width: 350px
            +border-radius
            padding: 3em 1em
            position: absolute

        .val-box-1


        .val-box-2


        .val-box-3


        .val-box-4
