.active-val
    h5
        color: $secondary

.value-container

    h1
        color: $dark
        font-weight: 700
        text-align: center

    .panel
        +flexbox
        +alignitems-start
        +justifycontent-center
        min-height: 230px

        .left-side
            .nav-on-value
                +flexbox
                +flexdirection-column

                h5
                    cursor: pointer
                    font-size: .9em

        .right-side

            .val-box
                background: #fff
                width: 350px
                +border-radius
                padding: 3em 1em

            .val-box-1


            .val-box-2


            .val-box-3


            .val-box-4
