#main-wrapper
    max-width: 100%
    margin: 0 auto

#wrapper-nav
    width: 100%
    height: 100px
    padding: 0 5em
    position: absolute
    z-index: 999
    top: 0

    @media (max-width: $screen-md)
        padding: 0

#wrapper-banner
    width: 100%
    max-width: 100%
    height: 100vh
    text-align: left

    @media (max-width: $screen-lg)
        padding: 1.5em

#wrapper-project-form
    width: 900px
    margin: 0 auto
    margin-top: 100px

